
@{
    ViewData["Title"] = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-blue">
    <h2>Registeration Successful!</h2>
    <h3>You may now go back and proceed to Login!</h3>
</div>


